{:tasks
 {:requires ([babashka.fs :as fs])
  :init (do 
          (def os "macos")
          (def arch "aarch64")
          (def version "0.1.0"))
  aarch64 (do 
            (shell (format "zip pod-babashka-docker-%s-%s-%s.zip pod-babashka-docker" os arch version) {}))}}
