{:tasks
 {:requires ([babashka.fs :as fs])
  :init (do 
          (def n "pod-atomisthq-tools.docker")
          (def os "macos")
          (def version "0.1.0"))
  build (do (shell (format "go build -o %s" n))
            (fs/copy "pod-atomisthq-tools.docker" "/Users/slim/.babashka/pods/repository/atomisthq/tools.docker/0.1.0/" {:replace-existing true}))
  aarch64 (do 
            (shell (format "zip %s-%s-%s-%s.zip %s" n version os "aarch64" n) {}))
  x86     (do 
            (shell (format "zip %s-%s-%s-%s.zip %s" n version os "x86_64" n) {}))
  linux-x86 
          (do
            (shell (format "zip %s-%s-%s-%s.zip %s" n version "linux" "amd64" n) {}))}}

