{:tasks
 {:requires ([babashka.fs :as fs])
  :init (do 
          (def os "macos")
          (def version "0.1.0"))
  build (shell "go build -o pod-babashka-docker")
  aarch64 (do 
            (shell (format "zip pod-babashka-docker-%s-%s-%s.zip pod-babashka-docker" version os "aarch64") {}))
  x86     (do 
            (shell (format "zip pod-babashka-docker-%s-%s-%s.zip pod-babashka-docker" version os "x86_64") {}))
  linux-x86 
          (do
            (shell (format "zip pod-babashka-docker-%s-%s-%s.zip pod-babashka-docker" version "linux" "amd64") {}))}}

